.leftMenu{
	width: 300px;
}

.LeftMenuKind,
.Playback {
	color: white;
	background-color: #0f0f0f;
	background-image: url("../images/list-bg.png");
}

.rightContent,
.listContent {
	background-color: #1a1a1a;
	background-image: url("../images/list-bg.png");
	color: white;
}

.enyo-toolbar {
	color: white;
	min-height: 56px;
}

.playbackFooter {
	height: 50px;
	background-color: #d8d8b8;
}

.listItem {
	padding: 2px 10px 4px 10px;
	background-color: rgba(0,0,0,0);
}

.listItem .listIndex {
	font-size: 16px;
	min-width: 26px;
	text-align: center;
	margin-right: 4px;
	margin-left: -4px;
}

.listItem .title {
	height: 25px;
	font-size: 18px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listItem .subtitle {
	height: 14px;
	font-size: 12px;
	text-align: left;
	margin-left: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listItem .count {
	height: 14px;
	font-size: 12px;
	text-align: right;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listItem .listArt {
	height: 40px;
	min-width: 40px;
	margin: 2px 4px 0px 0px;
}

.listItem.selected {
	background-color: rgba(255,255,255,0.15);
}


.headerTitle  {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	text-align: center;
}

.headerSubtitle {
	font-size: 14px;
	height: 24px;
	color:#a9a9a9;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncating {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.playbackSongArt {
	height: 200px;
	width: 200px;
	/*margin: 5px 50px;*/
	margin: 5px 49px;
	border: 1px solid #3a3a3a;
}

.playbackSongTitle {
	text-align: center;
	font-size: 16px;
}

.playbackSongArtist {
	text-align: center;
	font-size: 12px;
}

.playbackSongAlbum {
	text-align: center;
	font-size: 12px;
}

.playbackTime {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 12px;
	min-width: 28px;
}

.songTimeWrapper {
	height: 32px;
}
.songSlider {
	margin: -10px 10px;
}

.searchInputWrapper {
	border-top: 1px solid silver;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	min-height: 40px;
}

.searchInputWrapper .enyo-input {
	border-width: 5px 14px;
}

.searchInputWrapper .enyo-input-focus {
	-webkit-border-image: none;
	background-color: rgba(255, 255, 255, 0.1);
	color: #F2F2F2;
}

.searchInputWrapper .enyo-input-input {
	color: #F2F2F2;
	font-style: italic;
}

.menuItem {
	border-top: 1px solid silver;
	border-bottom: none;
}

.editHost {
	margin-left: 10px;
}

.deleteHost {
	margin-left: 10px;
}

.randomSongArt {
	height: 300px;
	width: 300px;
	border: 1px solid #3a3a3a;
}

.randomSongArtist {
	font-style: bold;
	font-size: 20px;
}

.randomSongAlbum {
	font-size: 24px;
}

.randomSongTracks {
	font-size: 16px;
	font-style: italic;
}

.nowplayingMoveUp {
	max-height: 30px;
}

.nowplayingMoveDown {
	max-height: 30px;
}

.nowplayingRemove {
	max-height: 30px;
}

.songsMoreIcon {
	margin-left: 5px;
	max-height: 30px;
}

.morePopupMenu .enyo-menu-inner{
	min-width: 300px;
}

.Dashboardkind {
	background-color: #3a3a3a;
}

.dashboardArt {
	height: 46px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
}

.dashboardPrevious {
	margin-left: 5px;
	margin-right: 5px;
}

.dashboardPlayPause {
	margin-left: 5px;
	margin-right: 5px;
}

.dashboardNext {
	margin-left: 5px;
	margin-right: 5px;
}

.dashboardTitle {
	height: 24px;
	font-size: 16px;
	color: white;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dashboardSubtitle {
	height: 15px;
	font-size: 12px;
	color: white;
	text-align: left;
	margin-left: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.helpContent {
	padding: 5px;
	margin: 5px;
}

.smallerFont {
	font-size: 14px;
}

.Help a {
	color: #9DC8E7;
}