.leftMenu,
.LeftMenuKind{
	width: 300px;
	height: 100%;
	background-color: #b8d8d8;
}

.rightContent{
	background-color: #d8b8d8;
}

.enyo-toolbar {
	color: white;
	min-height: 56px;
}

.playbackFooter {
	height: 50px;
	background-color: #d8d8b8;
}

.artistsItem,
.albumsItem,
.playlistsItem,
.songsItem {
	padding: 2px 10px 4px 10px;
}

.artistsItem .count,
.albumsItem .count,
.playlistsItem .count,
.songsItem .count {
	height: 14px;
	font-size: 14px;
	text-align: right;
}

.artistsItem .subtitle,
.albumsItem .subtitle,
.playlistsItem .subtitle,
.songsItem .subtitle {
	height: 12px;
	font-size: 12px;
	text-align: left;
	margin-left: 8px;
}


.headerTitle  {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	text-align: center;
}

.headerSubtitle {
	font-size: 14px;
	height: 24px;
	color:#a9a9a9;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}